<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="gradle.task.plugin" version="${version}">
    <about>
        <name>Gradle Task Plugin</name>
        <version>${version}</version>
        <target-go-version>14.4.0</target-go-version>
        <description>
            Go Task plugin for Gradle builds
        </description>
        <vendor>
            <name>Jakub Narloch</name>
            <url>http://github.com/jmnarloch/gocd-gradle-plugin</url>
        </vendor>
    </about>
</go-plugin>