<div class="form_item_block">
    <div class="checkbox_row">
        <label for="chbUseWrapper">Use wrapper:</label>
        <input id="chbUseWrapper" type="checkbox" ng-model="chbUseWrapper" ng-init="chbUseWrapper = UseWrapper" ng-change="UseWrapper = chbUseWrapper" ng-true-value="true" ng-false-value="false">
        <input id="useWrapper" type="hidden" ng-model="UseWrapper" value="{{UseWrapper}}">
    </div>
</div>
<div class="form_item_block">
    <label for="gradleHome">Gradle home:</label>
    <input id="gradleHome" type="text" ng-model="GradleHome">
</div>
<div class="form_item_block">
    <label for="tasks">Tasks:<span class="asterisk">*</span></label>
    <input id="tasks" name="tasks" type="text" ng-model="Tasks" ng-required="true"/>
</div>
<div class="form_item_block">
    <label>Options:</label>
    <div class="checkbox_row">
        <label for="chkDeamon">Use deamon:</label>
        <input id="chkDeamon" type="checkbox" ng-model="chkDeamon" ng-init="chkDeamon = Deamon" ng-change="Deamon = chkDeamon" ng-true-value="true" ng-false-value="false">
        <input id="deamon" type="hidden" ng-model="Deamon" value="{{Deamon}}">
    </div>
    <div class="checkbox_row">
        <label for="chkOffline">Offline:</label>
        <input id="chkOffline" type="checkbox" ng-model="chkOffline" ng-init="chkOffline = Offline" ng-change="Offline = chkOffline" ng-true-value="true" ng-false-value="false">
        <input id="offline" type="hidden" ng-model="Offline" value="{{Offline}}">
    </div>
    <div class="checkbox_row">
        <label for="chkDebug">Log in debug mode:</label>
        <input id="chkDebug" type="checkbox" ng-model="chkDebug" ng-init="chkDebug = Debug" ng-change="Debug = chkDebug" ng-true-value="true" ng-false-value="false">
        <input id="debug" type="hidden" ng-model="Debug" value="{{Debug}}">
    </div>
</div>
<div class="form_item_block">
    <label for="additionalOptions">Additional options:</label>
    <textarea id="additionalOptions" name="additionalOptions" type="text" ng-model="AdditionalOptions" rows="5"></textarea>
    <div class="inline_instruction">Enter each option on a new line</div>
</div>